Source: galliumos-baytrail
Section: admin
Priority: required
Maintainer: Colton DRG <coltondrg@galliumos.org>
XSBC-Original-Maintainer: Colton DRG <coltondrg@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-baytrail
Architecture: all
Priority: required
Depends: galliumos-base
Provides: galliumos-device
Replaces: galliumos-haswell, galliumos-sandy, galliumos-broadwell, pulseaudio
Conflicts: galliumos-haswell, galliumos-sandy, galliumos-broadwell
Description: GalliumOS Bay Trail customiaztions
 This package contains Bay Trail-specific files for GalliumOS
