Source: galliumos-baytrail
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Build-Depends: debhelper (>= 8), dh-systemd
Standards-Version: 3.9.1

Package: galliumos-baytrail
Architecture: all
Priority: required
Depends: galliumos-base, linux-image-galliumos-baytrail
Provides: galliumos-device
Conflicts: galliumos-sandy, galliumos-haswell, galliumos-broadwell, galliumos-braswell, galliumos-skylake, galliumos-samus
Replaces: pulseaudio
Description: GalliumOS Bay Trail customizations
 This package contains Bay Trail-specific files for GalliumOS
