[Unit]
Description=GalliumOS system customization for Bay Trail models

[Service]
ExecStart=/usr/bin/init-baytrail-settings
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
